@import url(navbar.css);

.recentProducts{
    gap: 2rem;
}

#copyrightSection{
    background-color: #16191b !important;
}

#emailForm{
    position: relative;
}

#emailInput{background-color: transparent; color: white !important;}

#emailLabel{
    position: absolute;
    top: 20%;
    left: 5%;
    background-color: var(--dark);
}

#emailInput, #emailLabel{
    transition: all 0.2s ease-in-out;
    touch-action: manipulation;
}

#emailInput:placeholder-shown + #emailLabel{
    top: 20%;
}

#emailInput:not(placeholder-shown) + #emailLabel, #emailInput:focus + #emailLabel{
    top: -35%;
}

.carousel{
    margin-top: 8rem !important;
}
